* {
  margin: 0;
  padding: 0;

}

body {
    min-height: 100vh;
    box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

.container {
  min-width: 1250px;
    display: flex;
   justify-content: center;
   
}


.left-box {
  min-width: 250px;
  background-color: #f9f9f9;
}
.center-box {
  min-width: 650px;
  background-color: white;
}

.center-container {
  margin: auto;
  width: 550px;
}

.search {
  margin-top: 25px;
  margin-bottom: 30px;

  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 40px;
  height: 15px;
  color: gray;
  background-color: #f7f8fa;
}

.search img {
  padding: 2px;
  height: 15px;
  width: 15px;
  /* padding: 2px; */
}

.search .ip {
  outline: none;
  border: none;
  background: none;
  margin-left: 5px;
  width: 100%;
  /* height: 100%; */
  /* padding: 10px; */
}

.heading {
  display: flex;
  padding: 10px;
}

.circle1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading .circle1 {
  background-color: #f9896a;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin-bottom: 30px;
  margin-right: 5px;

  color: white;
}

.heading .circle1 small {
  font-size: 9px;
}

.heading h1 {
  font-weight: 500;
}

.heading span {
  font-size: x-large;
  font-weight: 400;
}

.cards {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.card1 {
  height: 190px;
  min-width: 25%;
  background-color: #fdecd4;
  border-radius: 5px;
  padding: 10px;
}
.card2 {
  height: 190px;
  min-width: 25%;
  background-color: #fde4f8;
  border-radius: 5px;
  padding: 10px;
}
.card3 {
  height: 190px;
  min-width: 25%;
  background-color: #b5e0e8;
  border-radius: 5px;
  padding: 10px;
}

.line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.line2 {
  color: #47426e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 160px;
}




.backl{
    margin: 25px auto;
    height: 6px;
    width: 300px;
    background-color:#f7f8fb;
    border-radius: 5px;
}
.frontl{
    margin:auto;
    height: 6px;
    width: 90px;
    background-color:#003ffd;
    border-radius: 5px;
    transform: translateY(-30px);
}

/* .backl::after,
.frontl::before{
    content: "";
} */

.arcircle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow{
  transform: translateX(-25px);
}



.whitecir{
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}


.fl{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.fl h1{
  font-size: x-large;
  font-weight: 600;
}
.icon1{
  background-color:#f7f5f9;
  padding: 8px;
  border-radius: 8px;
}
.icon2{
  background-color:#5145a0;
  padding: 8px;
  border-radius: 8px;
}

.insurance{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.icon3{
  background-color:#e8eefa;
  padding: 8px;
  border-radius: 8px;
}

.activity .edit{
  padding-left: 90px;
}

.cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inp:not(:last-child) {
  padding-right: 50px;
  /* height: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.inp > small{
  font-size: 11px;
  font-weight: 500;
}

.icon4{
  background-color:#ffeee9;
  padding: 8px;
  border-radius: 8px;
}







.right-box {
  min-width: 350px;
  
  background-color: #f8f9fd;
}






@media only screen and (max-width: 600px){

}
